pdfplumber==0.11.6
PyMuPDF==1.25.5
chromadb
google-generativeai==0.8.5
sentence-transformers==4.1.0
python-dotenv==1.1.0
streamlit==1.45.0
tqdm==4.67.1
argparse
torch
transformers
fuzzywuzzy
Levenshtein
pandas
