# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Distribution
dist/
build/
*.egg-info/

# Raw PDFs (too large for git)
raw_data/

# Jupyter
.ipynb_checkpoints/

# Database & Logs
chroma_db/
data/archive/
logs/
